/* ----------------------------

CSS TABLE OF CONTENTS 

# GLOBAL CSS
    # BODY
    # TYPOGRAPHY
    # LINKS
    # BUTTONS

---------------------------- */
/* BODY */
body {
  font-family: "lino-type sabon", "caslon", serif;
  font-size: 100%;
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.85); }

/*  HEADING */
h1, h2, h3 {
  margin: .5em 0; }

h1 {
  font-family: "lino-type sabon", "caslon", serif;
  font-size: 5em;
  line-height: 1; }

h2 {
  font-family: "franklin-gothic-extra-compre", sans-serif;
  font-size: 2.225em;
  line-height: 1.1;
  letter-spacing: 7px;
  font-weight: 400;
  text-transform: uppercase;
  max-width: 30em; }

h3 {
  font-size: 1.5em;
  line-height: 1.2; }

p {
  font-family: "lino-type sabon", "caslon", serif;
  max-width: 30em; }

blockquote {
  font-family: "franklin-gothic-extra-compre", sans-serif;
  max-width: 15em; }

cite {
  display: inline-block; }

/* LINKS */
a {
  color: #069; }

a:hover {
  color: #035; }

/* HORIZONTAL RULE */
hr {
  border: 0;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
  margin: 3em 0; }

/* TYPE SPECIMEN */
.mainhead {
  font-size: 5em;
  color: #4b7a75;
  margin-bottom: 0; }

.subhead {
  color: rgba(0, 0, 0, 0.5);
  margin: 0 0; }

/* BUTTONS */
button,
.button {
  font-size: inherit;
  background-color: #069;
  color: #fff;
  padding: 1em 2em;
  display: inline-block;
  margin: .5em;
  border-radius: .3em; }
  button:hover,
  .button:hover {
    background-color: #035;
    color: #fff; }
